:root{
    --colorPrincipal: #2f5163;
    --colorSecundario: #010202;
    --colorTerciarioOscuro1: #272727;
    --colorTerciarioOscuro2: #373737;
    --colorTerciarioClaro: #F2F2F2;
    --colorDetalles1: #2A7F98;
    --colorDetalles2: #F5B823;
    --colorDetalles3: #4A9494;

    --tamañoTexto-XS: 9.89px;
    --tamañoTexto-S: 16px;
    --tamañoTexto-M: 25.89px;
    --tamañoTexto-L: 41.89px;
    --tamañoTexto-XL: 67.77px;
    --tamañoTexto-XXL: 109.66px;

    --alturaLíneaProp: 1.618; /* Proporción line-height / font-size */
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #373737;
    color: var(--colorTerciarioClaro);
    font-family: 'montserrat', sans-serif;
    padding: 1.5rem;

}
.animate__animated.animate__bounce {
    --animate-duration: 2s;
}
@media only screen and (min-width: 770px) {

        .container__formulario{
    display: grid;
    grid-template-columns: 2fr 1fr;
        }
                    
}
.container-logo .imagen__logo img{
    display: flex;
    width: 120px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.container-logo .texto2{
    display: flex;
    justify-content: center;
    font-size: small;
 
}
.container-logo .texto1{
    color: #F5B823;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container__formulario{
    position: relative;
    border: none;
    border-radius: 5px;
/*    display: grid;
    grid-template-columns: 2fr 1fr;*/
    /*box-shadow: 3px -2px 8px var(--colorPrincipal);*/
    box-shadow: 3px 2px 10px var(--colorDetalles3);
    opacity: 0.9;
    width: 100%;
    height: auto;
}

.container__formulario .tarjeta__cuadro{
    padding: 10px;
}
.tarjeta__cuadro{
    margin: 0;
    padding: 1em;
}
.tarjeta__cuadro small{
    font-size: x-small;
}
.tarjeta__cuadro p{
    padding: 5px;
}
.tarjeta__cuadro form{
    display: grid;
    grid-columns: 1fr 1fr;
}
.tarjeta__cuadro form .base{
    grid-column: 1 / 3;
}
.container__formulario .tarjeta__cuadro button, 
.container__formulario .tarjeta__cuadro textarea,
.container__formulario .tarjeta__cuadro input {
    border: none;
    background: none;
    outline: 0;
    border-bottom: 2px solid var(--colorDetalles1);
}
.container__formulario .tarjeta__cuadro input {
    text-transform: uppercase;
    padding-left: 5px;
    color: var(--colorTerciarioClaro);
}
.container__formulario .tarjeta__cuadro textarea{
    text-transform: uppercase;
    padding-left: 5px;
    color: var(--colorTerciarioClaro);
}
.container__formulario .tarjeta__cuadro button{
    background: var(--colorDetalles1);
    width: 100%;
    padding: 4px 50px;
    border: 0;
    text-transform: uppercase;
    color: var(--colorTerciarioClaro);
    cursor: pointer;
    transition: 0.3ms;
}
.container__formulario .tarjeta__cuadro button:active{
    animation: fadeOutUp;
    animation-duration: 2s;
}
.tarjeta__cuadro a{
    align-items: center;
    text-decoration: none;
}
.tarjeta__cuadro i{
    align-items: center;
    font-size: 20px;
}

.tarjeta__cuadro a span{
    margin-left: 20px;
    align-items: center;
    display: flex;
    font-size: 20px;
    background-color: #2A7F98;
    width: 35px;
    border: none;
    padding: 10px;
    color: var(--colorTerciarioClaro);
}
.tarjeta__cuadro a span:hover{
    box-shadow: 3px 2px 10px var(--colorDetalles3);
}
.tarjeta__cuadro a span:active{
    animation: bounceOutLeft;
    animation-duration: 1s;
    transform: scale(0.8);
}



.container__formulario .tarjeta__cuadro button:hover{
        color: var(--colorTerciarioClaro);
        font-weight: bolder;
        /*box-shadow: 3px 2px 8px var(--colorDetalles1);*/
        box-shadow: 3px 2px 10px var(--colorDetalles3);
        background-color: var(--colorDetalles1);
        border: none;
}
.container__formulario .tarjeta__cuadro button:active{
    transform: scale(0.9);
}
.tarjeta__info h4{
    padding-left: 20px;
}
.tarjeta__info{
    opacity: 0.9;
    color: var(--colorTerciarioClaro);
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: var(--colorTerciarioOscuro1);
}
.tarjeta__info i{
    font-size: 20px;
    padding: 5px;
}
.social-container {  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    gap: 10px;
    background-color: #2A7F98;
}
hr{
    color: var(--colorDetalles1);
}
.social-container img:hover{
    background-color: #2A7F98;
    color: var(--colorPrincipal);
    transform: scale(1.5);
    
}


