
/* -----------------------------------Variables de Estilo------------------------------------ */


:root{
  --colorPrincipal: #2F5163;
  --colorSecundario: #010202;
  --colorTerciarioOscuro1: #272727;
  --colorTerciarioOscuro2: #373737;
  --colorTerciarioClaro: #F2F2F2;
  --colorDetalles1: #2A7F98;
  --colorDetalles2: #F5B823;
  --colorDetalles3: #4A9494;
  
  --tamañoTexto-XS: 9.89px;
  --tamañoTexto-S: 16px;
  --tamañoTexto-M: 25.89px;
  --tamañoTexto-L: 41.89px;
  --tamañoTexto-XL: 67.77px;
  --tamañoTexto-XXL: 109.66px;
  
  --alturaLíneaProp: 1.618; /* Proporción line-height / font-size */
}


/* ----------------------------------------------Estilos generales------------------------------------------------- */


.b-main{
  font-family: 'montserrat', sans-serif;
  background-color: var(--colorTerciarioOscuro1);
}


h1 {
  color: var(--colorTerciarioClaro);
}


.caja h1, h4, h5, p {
  color: var(--colorTerciarioClaro);
  
}     


.caja p {
  text-shadow: 2px 2px 3PX black;
  margin-top: 20px; 
}


.caja h5 {
  margin-bottom: 20px;
}


/* ----------------------------------------------Estilos Contenedores------------------------------------------------- */


.caja1 {
  display: inline-block;
  background-color: var(--colorPrincipal);
  border: 2px black solid;
  border-radius: 5px;
  margin-top: 40px;
  text-align: justify;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.521);
  animation-name: desplazamiento;
  animation-duration: 3s;
  box-sizing: border-box;
  border: 1px solid black;
  line-height: 1.5;
  font-family: 'montserrat', sans-serif;
  padding: 3%;
  }








.caja {
  background-image:url(../multimedia/imagenes/otras/fondo\ 2.jpg) ;
  border: 2px black solid;
  border-radius: 5px;
  padding: 1.5%;

/* margin:5px; */

  margin-top: 40px;
  /* margin-left: 62px; */
  margin-bottom: 40px;

  text-align: center;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.521);
  animation-name: desplazamiento;
  animation-duration: 3s;
  float: left; 
  box-sizing: border-box; 
  line-height: 1.5;
}       


.caja:hover {
  transition: 0.5s ease-in;
  background-color: royalblue;
}



#contenedor-imagen {
  width: 120px;
  height: 120px;
  background-color:black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32%;
  margin-top: 0%;
}

#contenedor-imagen img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}



@keyframes desplazamiento{
  0%{ 
      transform: translateX(-500px);
      opacity:0;
  }
  100%{
      transform: translateX(0px);
      opacity:1;
      }
}
























  
  
  
  
  
  
  
  
  
    
