/* -----------------------------------Variables de Estilo------------------------------------ */


:root{
    --colorPrincipal: #2f5163;
    --colorSecundario: #010202;
    --colorTerciarioOscuro1: #272727;
    --colorTerciarioOscuro2: #373737;
    --colorTerciarioClaro: #F2F2F2;
    --colorDetalles1: #2A7F98;
    --colorDetalles2: #f5b823;
    --colorDetalles3: #4A9494;

    --tamañoTexto-XXS: 0.75rem;
    --tamañoTexto-XS: 1rem;
    --tamañoTexto-S: 1.25rem;
    --tamañoTexto-M: calc(1.275rem + .3vw);
    --tamañoTexto-L: calc(1.3rem + .6vw);
    --tamañoTexto-XL: calc(1.325rem + .9vw);
    --tamañoTexto-XXL: calc(1.375rem + 1.5vw);

    /* Proporciónes line-height / font-size */
    --alturaLíneaProp-S: 1.25;
    --alturaLíneaProp-M: 1.5; 
    --alturaLíneaProp-L: 2;
}


@media (min-width: 1200px) {
    :root{
        --tamañoTexto-M: 1.5rem;
        --tamañoTexto-L: 1.75rem;
        --tamañoTexto-XL: 2rem;
        --tamañoTexto-XXL: 2.5rem;
    }
} 


/* -----------------------------------Bloque del Footer------------------------------------ */


.b-footer, .b-footer *{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


.b-footer{
    font-family: 'montserrat', sans-serif;
    background-color: var(--colorTerciarioOscuro1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -----------------------------------Bloque Superior del Footer------------------------------------ */


.b-footer__sup{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 60px 0px 20px 0px;
}


.footer-list{
    list-style: none;
    display: inline-block;
    width: 23.1%;
    min-width: 200px;
    margin: 10px;
}


.footer-list__item{
    font-size: var(--tamañoTexto-XXS);
    line-height: var(--alturaLíneaProp-M);
    color: var(--colorTerciarioClaro);
    margin-bottom: 0.7em;
}


.footer-list__item--link{
    color: var(--colorTerciarioClaro);
    text-decoration: none;
}


.footer-list__item--link:hover{
    color: var(--colorDetalles1);
}


.footer-list__item:first-child{
    margin-bottom: 0.7em;
    font-size: var(--tamañoTexto-XS);
}


/* -----------------------------------Bloque Inferior del Footer------------------------------------ */


.b-footer__inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    border-top: 2px solid var(--colorDetalles1);
    width: 70%;
    max-width: 1200px;
}


.social-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.social-container__link{
    text-decoration: none;
}


.social-container__icon{ 
    filter: invert(96%) sepia(1%) saturate(28%) hue-rotate(118deg) brightness(116%) contrast(90%); /* Cambia el color de los logos SVG al valor #f2f2f2*/
    width: 24px;
    height: 24px;
    padding: 10px;
}


.social-container__icon:hover{  
    transform: scale(1.2);
    filter: invert(48%) sepia(13%) saturate(2030%) hue-rotate(147deg) brightness(87%) contrast(90%); /* Cambia el color de los logos SVG al valor #2A7F98*/
}


.legal-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.legal-bar__info{    
    display: inline-block;
    font-size: var(--tamañoTexto-XXS);
    line-height: var(--alturaLíneaProp-M);   
    color: var(--colorTerciarioClaro);
}


.legal-bar__info--link:hover{
    color: var(--colorDetalles1);
    transform: scale(1.2);
    text-decoration: none;
}


