/* ----------------------------------------------------Variables de Estilo---------------------------------------------- */


:root{
    --colorPrincipal: #2f5163;
    --colorSecundario: #010202;
    --colorTerciarioOscuro1: #272727;
    --colorTerciarioOscuro2: #373737;
    --colorTerciarioClaro: #F2F2F2;
    --colorDetalles1: #2A7F98;
    --colorDetalles2: #f5b823;
    --colorDetalles3: #4A9494;

    --tamañoTexto-XXS: 0.75rem;
    --tamañoTexto-XS: 1rem;
    --tamañoTexto-S: 1.25rem;
    --tamañoTexto-M: calc(1.275rem + .3vw);
    --tamañoTexto-L: calc(1.3rem + .6vw);
    --tamañoTexto-XL: calc(1.325rem + .9vw);
    --tamañoTexto-XXL: calc(1.375rem + 1.5vw);

    /* Proporciónes line-height / font-size */
    --alturaLíneaProp-S: 1.25;
    --alturaLíneaProp-M: 1.5; 
    --alturaLíneaProp-L: 2;
}


@media (min-width: 1200px) {
    :root{
        --tamañoTexto-M: 1.5rem;
        --tamañoTexto-L: 1.75rem;
        --tamañoTexto-XL: 2rem;
        --tamañoTexto-XXL: 2.5rem;
    }
} 


/* -----------------------------------------------Todos los elementos del documento-------------------------------------- */


*, ::after, ::before {
    box-sizing: border-box;
}


/* --------------------------------------------------------body------------------------------------------------------------ */


body {
    margin: 0;
}


/* ------------------------------------------------Estilos por defecto del main--------------------------------------------- */


.b-main{
    padding: 100px 0 0; /*para alojar correctamente a la cabecera flotante */
    font-family: 'montserrat', sans-serif;
    font-size: var(--tamañoTexto-S);
    font-weight: 400;
    line-height: var(--alturaLíneaProp-M);
}


/* --------------------------------------------Estilos por defecto títulos y parrafos --------------------------------------- */


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
}


h1 {
    font-size: var(--tamañoTexto-XXL);
}


h2 {
    font-size: var(--tamañoTexto-XL);
}


h3 {
    font-size: var(--tamañoTexto-L);
}


h4 {
    font-size: var(--tamañoTexto-M);
}


h5 {
    font-size: var(--tamañoTexto-S);
}


h6 {
    font-size: var(--tamañoTexto-XS);
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* -----------------------------------------------Estilos para botones  --------------------------------------- */


.texto-colorTerciarioOscuro2{
    color: var(--colorTerciarioOscuro2);
}


.texto-colorTerciarioClaro{
    color: var(--colorTerciarioClaro);
}


.texto-colorDetalles1{
    color: var(--colorDetalles1);
}


.texto-colorDetalles2{
    color: var(--colorDetalles2);
}


.button--dark{
    color: var(--colorDetalles1);
    background: none;
    font-size: var(--tamañoTexto-S);
    padding: 0.75em 1.5em;
    border-radius: 0.5em;
    border: 2px solid var(--colorDetalles1);
}


.smallButton--dark{
    color: var(--colorDetalles1);
    background: none;
    font-size: var(--tamañoTexto-S);
    padding: 0.25em 0.5em;
    border-radius: 0.4em;
    border: 2px solid var(--colorDetalles1);
}


.button--dark:hover, .smallButton--dark:hover{
    color: var(--colorTerciarioClaro);
    background: var(--colorDetalles1);
}


.selected-button--dark{
    color: var(--colorTerciarioClaro);
    background: var(--colorDetalles1);
    font-size: var(--tamañoTexto-S);
    padding: 0.75em 1.5em;
    border-radius: 0.5em;
    border: 2px solid var(--colorDetalles1);
}


.button--light{
    color: var(--colorTerciarioClaro);
    background: none;
    font-size: var(--tamañoTexto-S);
    padding: 0.75em 1.5em;
    border-radius: 0.5em;
    border: 2px solid var(--colorDetalles1);
}


.smallButton--light{
    color: var(--colorTerciarioClaro);
    background: none;
    font-size: var(--tamañoTexto-S);
    padding: 0.25em 0.5em;
    border-radius: 0.4em;
    border: 2px solid var(--colorDetalles1);
}


.button--light:hover, .smallButton--light:hover{
    color: var(--colorTerciarioClaro);
    background: var(--colorDetalles1);
}


.selected-button--light{
    color: var(--colorDetalles1);
    background: var(--colorTerciarioClaro);
    font-size: var(--tamañoTexto-S);
    padding: 0.75em 1.5em;
    border-radius: 0.5em;
    border: 2px solid var(--colorTerciarioClaro);
}


/* -----------------------------------Breakpoint 992px - Tablets (valores sugeridos por bootstrap)------------------------------------ */


@media (max-width: 992px){

    .b-main{
        padding-top: 80px;      /*para alojar correctamente a la cabecera flotante */
    }

}


/* -----------------------------------Breakpoint 576px - Celulares (valores sugeridos por bootstrap)----------------------------------- */


@media (max-width: 576px){

    .b-main{
        padding-top: 60px;      /*para alojar correctamente a la cabecera flotante */
        font-size: var(--tamañoTexto-XS);
    }


    .smallButton--light, .smallButton--dark{
        font-size: var(--tamañoTexto-XS);
    }

}
