/* -----------------------------------Variables de Estilo------------------------------------ */


:root{
    --colorPrincipal: #2F5163;
    --colorSecundario: #010202;
    --colorTerciarioOscuro1: #272727;
    --colorTerciarioOscuro2: #373737;
    --colorTerciarioClaro: #F2F2F2;
    --colorDetalles1: #2A7F98;
    --colorDetalles2: #F5B823;
    --colorDetalles3: #4A9494;
    
    --tamañoTexto-XS: 9.89px;
    --tamañoTexto-S: 16px;
    --tamañoTexto-M: 25.89px;
    --tamañoTexto-L: 41.89px;
    --tamañoTexto-XL: 67.77px;
    --tamañoTexto-XXL: 109.66px;
    
    --alturaLíneaProp: 1.618; /* Proporción line-height / font-size */
}


/* -----------------------------------Bloque del header------------------------------------ */


.b-main{
    padding: 100px 0 0;
}


.b-header *{
    padding: 0px;
    margin: 0PX;
}


.b-header{
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
    background-color: var(--colorSecundario);
    height: 100px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px; 
}


/* -----------------------------------Bloque nav del header------------------------------------ */


.b-nav{
    display: flex;
    justify-content: space-between;
}


/* -----------------------------------Bloque index-logo del nav------------------------------------ */


.index-logo{
    display: flex;
    align-items: center;
}


.index-logo__image{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
}


.index-logo__text{
    color: var(--colorTerciarioClaro);
    font-size: var(--tamañoTexto-M);
    line-height: calc(var(--tamañoTexto-S) * var(--alturaLíneaProp) * 0.8);
    margin: 0 10px;
    cursor: pointer;   
} 


.index-logo__text span{
    font-size: var(--tamañoTexto-S);
    cursor: pointer;
} 


/* -----------------------------------Bloque nav-outerList del nav------------------------------------ */


.nav-outerList{
    list-style: none;
    display: flex;
    align-self: flex-end;
}


.nav-outerList__item{
    width: 140px;
    height: 35px;
    line-height: 35px;
    
}


.nav-outerList__link{
    text-decoration: none;
    color: var(--colorTerciarioClaro);
    font-size: var(--tamañoTexto-S);
    display: block;
    width: 100%;
    height: 100%; 
    text-align: center;
} 


.nav-outerList__link:hover{
    color: var(--colorDetalles1);
    background-color: var(--colorTerciarioOscuro1);
    transition: 0.3s;
}


/* -----------------------------------Bloque burger-menu del nav------------------------------------ */


.burger-menu{ 
    display: none;
    background: none;
    border: none; 
    margin: 10px;
}


.burger-menu__icon{
    filter: invert(96%) sepia(1%) saturate(28%) hue-rotate(118deg) brightness(116%) contrast(90%); /* Cambia el color de los logos SVG al valor #f2f2f2*/
    width: 25px;
    height: 25px;
    cursor: pointer;
}


/* -----------------------------------Breakpoint 992px - Tablets (valores sugeridos por bootstrap)------------------------------------ */


@media (max-width: 992px){ 

    .b-main{
        padding-top: 80px;   
    }


    .b-header{
        height: 80px;
        padding: 0 20px;   
    }


    .b-nav{
        /* --- */
    }


    .index-logo{
        /* --- */
    }


    .index-logo__image{
        width: 40px;
        height: 40px;
    }


    .index-logo__text{
        /* --- */
    }


    .index-logo__text span{
        display: none;
    } 

    
    .nav-outerList{
        flex-direction: column;
        align-items: center;
        background-color: var(--colorTerciarioOscuro1);
        position: fixed;
        top: 80px;
        left: 100%;
        transition: left 0.3s;
    }
    
    
    .nav-outerList--visible{
        left: calc(100% - 500px);
    }


    .nav-outerList__item{
        width: 500px;
        height: 35px;
        line-height: 35px;       
    }


    .nav-outerList__link{
        /* --- */
    } 
    
    
    .nav-outerList__link:hover{
        background-color: var(--colorTerciarioOscuro2);
    }


    .burger-menu{
        display: block;
    }


    .burger-menu__icon{
        /* --- */
    }

}


/* -----------------------------------Breakpoint 576px - Celulares (valores sugeridos por bootstrap)----------------------------------- */


@media (max-width: 576px){

    .b-main{
        padding-top: 60px;
    }


    .b-header {
        height: 60px;
        padding: 10px;   
    }


    .b-nav{
        /* --- */
    }


    .index-logo{
        /* --- */
    }


    .index-logo__image{
        width: 30px;
        height: 30px;
        margin: 5px;
    }


    .index-logo__text{
        font-size: var(--tamañoTexto-S);
        margin: 5px;
    } 
    

    .index-logo__text span{
        /* --- */
    } 


    .nav-outerList{ 
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        overflow-y: auto;
    }


    .nav-outerList--visible{
        left: 0;
    }


    .nav-outerList__item{
        width: 100%;
    }


    .nav-outerList__link{
        font-size: var(--tamañoTexto-XS);
    }


    .nav-outerList__link:hover{
        /* --- */
    }


    .burger-menu { 
        margin: 0 5px;
    }


    .burger-menu__icon{
        width: 17px;
        height: 17px;
    }
    
}



.index-logo{
    display: flex;
    align-items: center;
}




.index-logo__image{
    width: 110px;
    height: 90px;
    margin: 0 10px;
    cursor: pointer;
}

